.task {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  gap: 1rem;
  background: #121214;
  border: 1px solid #29292E;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.task header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task header span {
  font-size: 1rem;
  color: var(--purple-500);
  font-weight: 700;
  line-height: 1.25rem;
}

.task header button {
  width: 24px;
  height: 24px;
  line-height: 0;
  background: transparent;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.task ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.task ul li {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;

  list-style: none;

  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 400;
}